<div class="spot">
  <% if spot.spot_images? %>
    <div class="image-slider">
      <% spot.spot_images.each do |image| %>
        <%= image_tag image.url %>
      <% end %>
    </div>
  <% else %>
    <%= image_tag "default/image.png", class: "spot__image" %>
  <% end %>
  <div class="spot__name"><%= spot.name %></div>
  <% if spot.genre.present? %>
    <div class="spot__genre"><%= spot.genre.name %></div>
  <% end %>
  <% if user_signed_in? %>
    <% if spot.user == current_user %>
      <%= link_to "編集", edit_course_spot_path(spot.course, spot), class: "spot__button spot__button--edit" %>
    <% else %>
      <%= link_to "保存", import_course_spot_path(spot.course, spot), class: "spot__button spot__button--import", method: :post, data: {confirm: "マイプレイスに保存しますか？" } %>
    <% end %>
  <% end %>
  <div class="spot__introduction">
    <%= simple_format(spot.introduction) %>
  </div>
  <%= link_to "Google Mapで開く", google_map_spot_link(spot), class:"spot__link", target: :_blank, rel: "noopener noreferrer" %>
  <div class="spot__course-info">
    <% if spot.user.user_image? %>
      <%= image_tag spot.user.user_image.url, class: "spot__user-icon" %>
    <% else %>
      <%= image_tag "default/user.png", class: "spot__user-icon" %>
    <% end %>
    <div class="spot__user">
      <% if user_signed_in? %>
        <%= link_to spot.user.name, user_path(spot.user) %>
      <% else %>
        <%= spot.user.name %>
      <% end %>
    </div>
    <div class="spot__course-name">
      <%= link_to "#{spot.course.name} より", course_path(spot.course), data: { turbolinks: false } %>
    </div>
    <%= render "spot_likes/button", spot: spot %>
  </div>
</div>