<div class="user">
  <% if user.user_image? %>
    <%= image_tag user.user_image.url, class: "user__logo" %>
  <% else %>
    <%= image_tag "default/user.png", class: "user__logo" %>
  <% end %>
  <div class="user__info">
    <div class="user__name"><%= user.name %></div>
    <div class="user__introduction"><%= simple_format(user.introduction) %></div>
  </div>
  <% if user == current_user %>
    <%= link_to "編集", edit_user_path(user), class: "user__edit" %>
  <% end %>
</div>