<div class="my-page">
  <div class="my-page__info">
    <div class="my-page__title">
      Owner
      <div class="my-page__like">
        <%= link_to like_user_path(current_user, like: "spot") do %>
          <div class="my-page__like my-page__like--tag">
            <%= image_tag "icon/like.png", class: "like__icon" %>&nbsp;プレイス
          </div>
        <% end %>
        &nbsp;&nbsp;
        <%= link_to like_user_path(current_user, like: "course") do %>
          <div class="my-page__like my-page__like--tag">
            <%= image_tag "icon/like.png", class: "like__icon" %>&nbsp;コース
          </div>
        <% end %>
      </div>
    </div>
    <div class="my-page__user">
      <%= render @user %>
    </div>
    <div class="my-page__vehicle">
      <div class="my-page__title">
        Car
        <% if @user == current_user %>
          <div class="my-page__new">
            <%= link_to "新規登録", new_vehicle_path(category: "car") %>
          </div>
        <% end %>
      </div>
      <% if @user.vehicles.car.present? %>
        <div class="vehicle-slider">
          <%= render @user.vehicles.car %>
        </div>
      <% else %>
        <div class="vehicle vehicle--new"></div>
      <% end %>
    </div>
    <div class="my-page__vehicle">
      <div class="my-page__title">
        Bike
        <% if @user == current_user %>
          <div class="my-page__new">
            <%= link_to "新規登録", new_vehicle_path(category: "motorcycle") %>
          </div>
        <% end %>
      </div>
      <% if @user.vehicles.motorcycle.present? %>
        <%= render @user.vehicles.motorcycle %>
      <% else %>
        <div class="vehicle vehicle--new"></div>
      <% end %>
    </div>
  </div>
  <div class="my-page__course">
    <div class="my-page__title">My DriveCourse</div>
    <%= render "courses/table", courses: @courses %>
  </div>
</div>