<tr class="course__data-row">
  <td>
    <div class="course__user">
      <% if course.user.user_image? %>
        <%= image_tag course.user.user_image.url, class: "course__user-logo" %>
      <% else %>
        <%= image_tag "default/user.png", class: "course__user-logo" %>
      <% end %>
      <div class="course__user-name"><%= course.user.name %></div>
    </div>
  </td>
  <td>
    <% if course.is_recorded %>
      <%= link_to course.name, user_course_path(current_user, course), class: "course__name", data: { turbolinks: false } %>
    <% else %>
      <%= link_to course.name, edit_user_course_path(current_user, course), class: "course__name", data: { turbolinks: false } %>
    <% end %>
    <div class="course__introduction">
      <%= course.introduction %>
    </div>
  </td>
  <td>
    <% if course.is_recorded %>
      <%= render "course_likes/button", course: course %>
    <% else %>
      <%= link_to "記録開始",  record_user_course_path(current_user, course), class: "course__button", method: :patch, data: {confirm: "一度記録を開始するとコース順序の変更はできません。\n本当に記録を開始しますか？", turbolinks: false } %>
    <% end %>
  </td>
  <td>
    <%= link_to "削除", user_course_path(current_user, course), class: "course__button course__button--red", method: :delete, data: {confirm: "本当に削除しますか？" } %>
  </td>
</tr>