<div class="box box--center">
  <div class="box__item">
    <%= form_with model: vehicle, local: true, class: "form" do |f| %>
      <%= render "layouts/error_messages", resource: vehicle %>
      <div class="form__group form__group--none">
        <%= f.label :vehicle_image, "画像登録", class:"form__label" %>
        <%= f.file_field :vehicle_image, class: "form__file" %>
      </div>
      <div class="form__group form__group--none">
        <%= f.collection_radio_buttons :use_for, Vehicle.use_fors_i18n, :first, :last do |b| %>
          <div class="form__check">
            <%= b.label { b.radio_button + " " + b.text } %>
          </div>
        <% end %>
      </div>
      <%= f.text_field :maker, class: "form__field", placeholder: "メーカー" %>
      <%= f.text_field :displacement, class: "form__field", placeholder: "排気量(cc)" %>
      <%= f.text_field :name, class: "form__field", placeholder: "車種" %>
      <%= f.text_area :introduction, class: "form__field form__field--area", placeholder: "紹介文" %>
      <%= f.hidden_field :category %>
      <%= f.submit "登録", class: "form__button" %>
      <% if vehicle.id.present? %>
        <div class="form__link">
          <%= link_to "削除する" , vehicle_path(vehicle), method: :delete, data: {confirm: "本当に削除しますか？" } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>