<%= form_with model: place, class: "form" do |f| %>
  <div class="form__group form__group--none">
    <input class="form__small-field" id="place-search-word" type="text" placeholder="検索ワード">
    <input class="form__small-button" id="place-search-button" type="button" value="検索">
  </div>
  <div class="form__group form__group--none">
    <%= f.text_field :name, class: "form__small-field", placeholder: "プレイス名" %>
    <%= f.submit "保存" , class: "form__small-button" %>
  </div>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :address %>
  <div class="form__table">
    <div class="place-list">
      <div class="place-list__title">マイプレイス</div>
      <ul class="place-list__list">
        <%= render current_user.places %>
      </ul>
    </div>
  </div>
<% end %>