<header class="header">
  <div class="header__logo">
    <div class="logo">
      <%= image_tag "logo/icon.svg", class: "logo__icon" %>
      <%= image_tag "logo/text.png", class: "logo__text" %>
    </div>
  </div>
  <ul class="header__list">
  <% if user_signed_in? %>
    <%= link_to user_path(current_user), data: { turbolinks: false } do %>
      <li class="header__item">マイページ</li>
    <% end %>
    <%= link_to homes_search_path  do %>
      <li class="header__item">検　 索</li>
    <% end %>
    <%= link_to places_path, data: { turbolinks: false } do %>
      <li class="header__item">プレイス登録</li>
    <% end %>
    <%= link_to new_course_path(current_user), data: { turbolinks: false } do %>
      <li class="header__item">ドライブコース登録</li>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <li class="header__item">ログアウト</li>
    <% end %>
  <% else %>
    <%= link_to root_path  do %>
      <li class="header__item">トップページ</li>
    <% end %>
    <%= link_to homes_search_path  do %>
      <li class="header__item">検　 索</li>
    <% end %>
    <%= link_to new_user_registration_path  do %>
      <li class="header__item">新規登録</li>
    <% end %>
  <% end %>
  </ul>
</header>