<header>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "マイページ", user_path(current_user) %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "車両新規登録", new_user_vehicle_path(current_user) %></li>
      <li><%= link_to "マイプレイス", places_path %></li>
      <li><%= link_to "プレイス登録", new_place_path, data: { turbolinks: false } %></li>
      <li><%= link_to "マイドライブコース", user_courses_path(current_user) %></li>
      <li><%= link_to "ドライブコース登録", new_user_course_path(current_user), data: { turbolinks: false } %></li>
    <% end %>
  </ul>
</header>